Dynamic vs Recursive Programming

In [1]:
#Recursive Programming, solve smaller subproblems that would then recursively need to calculate subproblems to arrive at the eventual answer

In [1]:
lofl = [[1,2,3],[4,5,6]]
lofl

[[1, 2, 3], [4, 5, 6]]

In [5]:
len(lofl)

2

In [11]:
lofl[1]

[4, 5, 6]

In [13]:
total = 0
for i in range (0, len(lofl)):
    total = total + sum(lofl[i])

In [14]:
total

21

In [9]:
sum(lofl[1])

15

In [16]:
N=10
all_seats = [s for s in range(1,N+1)]

In [17]:
all_seats

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
taken_seats = all_seats

In [20]:
[10, 2] not in taken_seats

True

In [22]:
taken_seats

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
available = [x for x in all_seats if x not in [1,2]]

In [25]:
available

[3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
taken_seats - [1,2]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [6]:
lofl.shape

AttributeError: 'list' object has no attribute 'shape'

In [2]:
def minCostClimbingStairs(cost):
    
    def mincost(cost, ind):
        # base case
        if ind < 2:
            return cost[ind]
        curr_cost = cost[ind] + min(mincost(cost, ind-1), mincost(cost,ind-2))
        return curr_cost 
            
    
    n = len(cost) 
    cost.append(0)
    return mincost(cost,n)

In [3]:
cost = [10,15,20]
minCostClimbingStairs(cost)

15

In [4]:
# Dynamic Programming, calculates iteratively and then stores the solution

In [5]:
def minCostClimbingStairs(cost):
    n = len(cost)
    dp = [1]*n
    dp[0] = cost[0]
    dp[1] = cost[1]
    for i in range(2,n):
        dp[i]=min(dp[i-1],dp[i-2])+cost[i]
    
    print(dp)
    return min(dp[n-1],dp[n-2])

In [6]:
minCostClimbingStairs(cost)

[10, 15, 30, 15]

15

In [7]:
[0]*5

[0, 0, 0, 0, 0]

In [8]:
type([0]*5)

list

In [10]:
for s in range(0,3):
    print(s)

0
1
2

In [75]:
N = 10
K = 1
M = 2
S = [2, 6]

In [94]:
N = 15
K = 2
M = 3
S = [11, 6, 14]

In [91]:
import math

S.sort()
start, res = 1, 0

#  add in N + K + 1 since we want a possibility of placing someone on the last available seat
S.append(N+K+1) 

for s in S:
    delta = s-K-start
    if delta > 0: 
        res += math.ceil(delta / (K+1))
    start = s+K+1
res

1

In [98]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
test = 's'

In [102]:
alphabet.rfind(test)

18

In [95]:
S.sort()
start, res = 1, 0
S.append(N+K+1)

In [105]:
test = [1,10,5]
test.sort()
test

[1, 5, 10]

In [106]:
splitthis = [1,2,3,4,5,6]

In [108]:
splitthis[0:2] + splitthis[4:5]

[1, 2, 5]

In [110]:
sortthis = [1,10,2,4]
sortthis.sort()

In [112]:
len(sortthis)

4

In [109]:
splitthis[2:]

[3, 4, 5, 6]

In [97]:
N + K

17

In [96]:
S

[6, 11, 14, 18]

-cant just do copydata = S, this will link them to the same idea
-cant do 1:N, use list comprehension, this is not matlab 
-cant do setdifference, use not in, etc

In [81]:
  # Write your code here
all_seats = [s for s in range(1,N+1)]
taken_seats = [s for s in S]
unavailable_seats = [] 

for seat in taken_seats:
    unavailable_seats.append(max(1,seat-K))
    unavailable_seats.append(min(N,seat+K))
    unavailable_seats.append(seat)

# 1 2 3 4 5 6 7 8 9 10
# * 0 *   * 0 *
# unavailable_seats: 1,2,3,5,6,7
# S = 2,6

print(unavailable_seats)

available = [x for x in all_seats if x not in unavailable_seats]

print(available)
for seat in available: 
    if (seat + K not in taken_seats) & (seat-K not in taken_seats):
        taken_seats.append(seat)


print(len(taken_seats) - len(S))
print(taken_seats)
print(S)

[9, 13, 11, 4, 8, 6, 12, 15, 14]
[1, 2, 3, 5, 7, 10]
4
[11, 6, 14, 1, 2, 5, 10]
[11, 6, 14]

In [84]:
all_seats = [s for s in range(1,N+1)]
taken_seats = [s for s in S]
unavailable_seats = [] 

for seat in taken_seats:
    unavailable_seats.append(max(1,seat-K))
    unavailable_seats.append(min(N,seat+K))
    unavailable_seats.append(seat)

# 1 2 3 4 5 6 7 8 9 10
# * 0 *   * 0 *
# unavailable_seats: 1,2,3,5,6,7
# S = 2,6

print(unavailable_seats)

available = [x for x in all_seats if x not in unavailable_seats]

[9, 13, 11, 4, 8, 6, 12, 15, 14]

In [85]:
available

[1, 2, 3, 5, 7, 10]

In [87]:
taken_seats

[11, 6, 14]

In [88]:
(10 + K not in taken_seats) & (10-K not in taken_seats)

True

In [82]:
11 not in S

False

In [67]:
taken_seats

[2, 6, 2, 4, 6, 8, 10]

In [61]:
taken_seats

[2, 6, 2, 4, 6, 8, 10]

In [58]:
taken_seats

[2, 6, 4, 8, 10]

In [45]:
available

[4, 8, 9, 10]

In [46]:
K

1

In [113]:
nums = [11,7,2,15]

In [114]:
nums.sort()

In [130]:
count = 0
dups = 0

In [116]:
for n in range(0,len(nums)-2):
    if nums[n] == nums[n+1]:
        nums = nums[0:n] + nums[n+2:]
        dups += 1

In [117]:
nums

[2, 7, 11, 15]

In [118]:
(nums[n] - nums[n-1] != 0)

True

In [119]:
(nums[n+1] - nums[n] != 0)

True

In [144]:
nums =[-71,-71,93,-71,40]

In [145]:
nums.sort()
count = 0
dups = 0
for n in range(0,len(nums)-2):
    if nums[n] == nums[n+1]:
        nums = nums[0:n+1] + nums[n+2:]
        dups += 1

In [148]:
countElements([2,4,8,10])

2

In [149]:

test = test[test!=0]

In [151]:
test = [0,1,2]

In [154]:
nums=[0,0]

In [155]:
nums2 = [n for n in nums if n > 0]

In [156]:
nums2

[]

In [159]:
test = [1,2,3]
[n for n in test if n > test[0]]

[2, 3]

In [147]:
def countElements(nums):
    res = 0
    mn = min(nums)
    mx = max(nums)
    for i in nums:
        if i > mn and i < mx:
            res += 1
    return res

In [161]:
nums = [3,5]

In [162]:
dt = {}
for n in nums:
    if n != 0:
        dt[n] = len([n2 for n2 in nums if n2 >= n]) # count number of digits that are greater than it 

if n == dt[n]:
    print(dt[n])

In [164]:
5//2

2

In [146]:
nums

[-71, -71, 40, 93]

In [143]:
dups

1

In [ ]:
for n in range(1, len(nums)-1):
    if (nums[n] - nums[n-1] != 0) & (nums[n+1] - nums[n] != 0):
        count += 1

In [ ]:
nums.sort()
count = 0
dups = 0
for n in range(0,len(nums)-1): # 0,1
    if nums[n] == nums[n+1]:
        nums = nums[0:n] + nums[n+2:]
        dups += 1
for n in range(1, len(nums)-1): # 1 through 
    if (nums[n] - nums[n-1] != 0) & (nums[n+1] - nums[n] != 0):
        count += 1

count*dups